// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body{
    background-color: #eee;
}
.material-icons.md-55 { font-size: 55px; }

.material-icons.orange600 { color: #FB8C00; }

li.active a{
    color: orange !important;
    border-color: rgb(255,165,0) !important;
}

.category a{
    font-size: 22px;
}

.category a:hover{
    color: orange !important;
}
